.desk {}

.div-only-mobile {}

@media screen and (max-width: 1920px) {
    .div-only-mobile {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .desk {
        display: none;
    }
    .div-only-mobile {
        display: block;
    }
}

ul {
    list-style: circle;
}

ul li {
    margin-left: 20px;
}